apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-enkwekww
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-enkwekww:56ffbdb2d33d806006c695ce3b2cba716e094916@sha256:fdf3cc606c3cb11f984220f4ed33a154bfc216a30ff49e2a9b1e803c3e18e398
          name: container-image
